# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
local_settings.py
media

# Sensitive Files
serviceAccountKey.json
*.key
*.pem
*.env
**/credentials.json
**/*_credentials.*
**/*secret*
**/*private*

# Database
# Comment out if you want to include your database in the repository
# db.sqlite3

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
.DS_Store
Thumbs.db
